name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt-get install build-essential libnewlib-dev gcc-riscv64-unknown-elf libusb-1.0-0-dev libudev-dev gdb-multiarch
        git clone https://github.com/cnlohr/ch32fun.git
        sudo cp ch32fun/minichlink/99-minichlink.rules /etc/udev/rules.d/
        sudo udevadm control --reload-rules && sudo udevadm trigger
        sudo usermod -a -G plugdev $USER
        cd ch32fun/examples/blink; make

    - name: Install xPack RISC-V Toolchain
      run: |
        wget https://github.com/xpack-dev-tools/riscv-none-embed-gcc/releases/download/v10.2.0-1.1/xpack-riscv-none-embed-gcc-10.2.0-1.1-linux-x64.tar.gz
        mkdir -p $HOME/toolchains
        tar -xzf xpack-riscv-none-embed-gcc-*.tar.gz -C $HOME/toolchains
        echo "$HOME/toolchains/xpack-riscv-none-embed-gcc-10.2.0-1.1/bin" >> $GITHUB_PATH

    - name: Build the project
      run: |
        mkdir -p build
        cd build
        cmake .. -DCMAKE_TOOLCHAIN_FILE=../cmake/wch_toolchain.cmake
        make -j$(nproc)

    - name: Generate Hex File
      run: |
        riscv64-unknown-elf-objcopy -O ihex your_project.elf keymod.hex

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.SOURCE_DIR }}\Output\openterfaceQT.windows.amd64.installer.exe
        if-no-files-found: error
