name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  BUILD_DIR: ${{ github.workspace }}/build
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RISC_COMPILER_VERSION: 8.2.0-3.1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Download and setup OpenWCH RISC-V GCC
      run: |
        wget https://github.com/openwch/risc-none-embed-gcc/releases/download/v${RISC_COMPILER_VERSION}/risc-none-embed-gcc-${RISC_COMPILER_VERSION}-x86_64-linux-ubuntu14.tar.bz2
        mkdir -p ${{ github.workspace }}/toolchain
        tar -xjf risc-none-embed-gcc-${RISC_COMPILER_VERSION}-x86_64-linux-ubuntu14.tar.bz2 -C ${{ github.workspace }}/toolchain --strip-components 1
        echo "RISC_COMPILER_PATH=${{ github.workspace }}/toolchain" >> $GITHUB_ENV
        echo "RISC_COMPILER_BIN=${{ github.workspace }}/toolchain/bin" >> $GITHUB_ENV
        echo "${{ github.workspace }}/toolchain/bin" >> $GITHUB_PATH
        chmod +x ${{ github.workspace }}/toolchain/bin/*

    - name: Install additional dependencies
      run: |
        sudo apt update
        sudo apt-get install build-essential libusb-1.0-0-dev libudev-dev gdb-multiarch

    - name: Build the project
      run: |
        export PATH=${{ github.workspace }}/toolchain/bin:$PATH
        make \
          CROSS_COMPILE=riscv-none-embed- \
          TOOLCHAIN_PATH=${{ github.workspace }}/toolchain \
          build

    - name: Generate Hex File
      run: |
        ${{ github.workspace }}/toolchain/bin/riscv-none-embed-objcopy -O ihex ${{ env.BUILD_DIR }}/keymod.elf ${{ env.BUILD_DIR }}/keymod.hex

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.BUILD_DIR }}/keymod.hex
          ${{ env.BUILD_DIR }}/keymod.elf
        if-no-files-found: error
