name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  BUILD_DIR: ${{ github.workspace }}\build
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RISC_COMPILER_VERSION: 8.2.0-3.1.1

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install xpm
      run: |
        npm install --global xpm@latest

    - name: Install RISC-V GCC via xpm
      run: |
        xpm install --global @xpack-dev-tools/riscv-none-embed-gcc@${{ env.RISC_COMPILER_VERSION }} --verbose
        echo "C:\\Users\\runneradmin\\.xPacks\\@xpack-dev-tools\\riscv-none-elf-gcc\\${{ env.RISC_COMPILER_VERSION }}\\.content\\bin" >> $GITHUB_PATH
        echo "RISC_COMPILER_PATH=C:\\Users\\runneradmin\\.xPacks\\@xpack-dev-tools\\riscv-none-elf-gcc\\${{ env.RISC_COMPILER_VERSION }}\\.content" >> $GITHUB_ENV

    - name: Install additional dependencies
      run: |
        choco install make

    - name: Build the project
      run: |
        mkdir ${{ env.BUILD_DIR }}
        
        make \
          CROSS_COMPILE=riscv-none-embed- \
          TOOLCHAIN_PATH=$RISC_COMPILER_PATH \
          BUILD_DIR=${{ env.BUILD_DIR }} \
          build

    - name: Generate Hex File
      run: |
        riscv-none-embed-objcopy -O ihex ${{ env.BUILD_DIR }}\BLE_USB.elf ${{ env.BUILD_DIR }}\keymod.hex

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.BUILD_DIR }}\keymod.hex
          ${{ env.BUILD_DIR }}\keymod.elf
        if-no-files-found: error
