name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y gcc make cmake ninja-build libnewlib-dev

    - name: Install WCH RISC-V Toolchain
      run: |
        wget https://www.wch.cn/downloads/file/294.html -O wch_toolchain.tar.gz || true
        mkdir -p $HOME/wch-riscv
        tar -xzvf wch_toolchain.tar.gz -C $HOME/wch-riscv || true
        echo "$HOME/wch-riscv/riscv-none-embed-gcc/bin" >> $GITHUB_PATH

    - name: Build the project
      run: |
        mkdir -p build
        cd build
        cmake .. -DCMAKE_TOOLCHAIN_FILE=../cmake/wch_toolchain.cmake
        make -j$(nproc)

    - name: Generate Hex File
      run: |
        riscv64-unknown-elf-objcopy -O ihex your_project.elf keymod.hex

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.SOURCE_DIR }}\Output\openterfaceQT.windows.amd64.installer.exe
        if-no-files-found: error
