name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install RISC-V Toolchain
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-riscv64-unknown-elf binutils-riscv64-unknown-elf

    - name: Build Project
      run: |
        make  # Adjust based on your project's build system

    - name: Generate Hex File
      run: |
        riscv64-unknown-elf-objcopy -O ihex your_project.elf keymod.hex

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.SOURCE_DIR }}\Output\openterfaceQT.windows.amd64.installer.exe
        if-no-files-found: error
