name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  BUILD_DIR: ${{ github.workspace }}/build
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RISC_COMPILER_VERSION: 14.2.0-3.1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install xpm
      run: |
        npm install --global xpm@latest

    - name: Install RISC-V GCC via xpm
      run: |
        xpm install --global @xpack-dev-tools/riscv-none-elf-gcc@${RISC_COMPILER_VERSION} --verbose
        echo "/home/runner/.local/xPacks/@xpack-dev-tools/riscv-none-elf-gcc/${RISC_COMPILER_VERSION}/.content/bin" >> $GITHUB_PATH
        echo "RISC_COMPILER_PATH=/home/runner/.local/xPacks/@xpack-dev-tools/riscv-none-elf-gcc/${RISC_COMPILER_VERSION}/.content" >> $GITHUB_ENV

    - name: Install additional dependencies
      run: |
        sudo apt update
        sudo apt-get install build-essential libusb-1.0-0-dev libudev-dev gdb-multiarch

    - name: Build the project
      run: |
        # Make sure to use tabs for indentation in Makefile
        mkdir -p ${{ env.BUILD_DIR }}
        
        make \
          CROSS_COMPILE=riscv-none-elf- \
          TOOLCHAIN_PATH=$RISC_COMPILER_PATH \
          BUILD_DIR=${{ env.BUILD_DIR }} \
          build
          
    - name: Generate Hex File
      run: |
        # Use the toolchain directly since path is in PATH
        riscv-none-elf-objcopy -O ihex ${{ env.BUILD_DIR }}/BLE_USB.elf ${{ env.BUILD_DIR }}/keymod.hex

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.BUILD_DIR }}/keymod.hex
          ${{ env.BUILD_DIR }}/keymod.elf
        if-no-files-found: error
