name: Build CH32 Project

on:
  push:
    branches:
      - dev*

env:
  SOURCE_DIR: ${{ github.workspace }}
  BUILD_DIR: ${{ github.workspace }}\build
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RISC_COMPILER_VERSION: 8.2.0-3.1.1

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install build dependencies
      run: |
        choco install -y make wget unzip
        echo "PATH=C:\\ProgramData\\chocolatey\\bin;${{ env.PATH }}" >> $GITHUB_PATH

    - name: Clone risc-none-embed-gcc and configure environment
      run: |
        wget https://github.com/openwch/risc-none-embed-gcc/archive/refs/tags/8.2.0.zip -o risc-none-embed-gcc.zip
        unzip risc-none-embed-gcc.zip -d C:\\tools
        dir c:\\tools
        echo "RISC_COMPILER_PATH=C:\\tools\\risc-none-embed-gcc\\risc-none-embed-gcc-${{ env.RISC_COMPILER_VERSION }}" >> $GITHUB_ENV
        echo "C:\\tools\\risc-none-embed-gcc\\bin" >> $GITHUB_PATH
        echo "RISC_COMPILER_PATH=C:\\tools\\risc-none-embed-gcc" >> $GITHUB_ENV



    - name: Build the project
      run: |
        echo "Starting build process..."
        cd build
        make -j4 all || echo "Build failed. Check logs for details."

    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: keymod
        path: |
          ${{ env.BUILD_DIR }}\keymod.hex
          ${{ env.BUILD_DIR }}\keymod.elf
        if-no-files-found: error
